/* Seteo de página */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing:inherit;
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
/* Paleta de colores */
:root {
    --azul-suave: #59A5D8;
    --blanco: #F4FFFD;
    --negro-azul: #00171F;
    --gris-blanco: #DBD3D8;
    --naranja: #F9A03F;
    --azul-profundo: #8884FF;
    --negro: #000022;
}
/*Color del fondo de la página*/
body {
    background-color: var(--gris-blanco);
}
/*Posición pegajosa*/
.posicion-pegajosa {
    background-color: var(--azul-profundo);
    position: sticky;
    top: 0;
}
/*Barra de navegación*/
.barra-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 220px;
    margin-top: 20px;
    margin-left: 20%;
}
/*Utilizamos el text-decoration none para eliminar la linea acostada de los ancle*/
header a {
    color: var(--blanco);
    text-decoration: none;
}
/*Representativo de la empresa*/
.representativo {
    font-family: cursive;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegadores {
    font-size: 25px;
    display: flex;
    margin-right: 10%;
    gap: 80px;
}
/*Configuración del cuerpo*/
main {
    margin-top: 50px;
}
/*Imagen de la frase*/
.frase-identificadora {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 500px;
   background-image: url("../public/img/representativo.webp");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: end;
 }

.parrafo-frase {
    background-color: rgba( 0, 0, 0, 0.7);
    color: var(--blanco);
    font-size: 35px;
    margin: 0;
}
/*Sección de artículos*/
.contenedor-arti {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    display: flex;
    gap:32px;
    font-size: 20px;
 }
 
 .articulos {
    display: flex;
    flex-direction: column;
    background-color: var(--naranja);
    width: 33%;
}

.img-arti {
    height: 50%;
    margin:0;
 }
 
 .img-arti img {
     width: 100%;
     height: 100%;
 }
 
 .info {
     height: 50%;
     padding: 32px;
     margin: 0;
 }
 /*Sección de más información*/
 .socio {
     margin-top: 55px;
     margin-bottom: 55px;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     display: flex;
     background-color: var(--azul-suave);
     font-size: 30px;
 }
 
 .imagen-socio {
     width: 60%;
 }

 .extra-2 {
    width: 100%;
    height: 100%;
 }
 
 .texto-socio {
     width: 40%;
     display: flex;
     flex-direction: column;
     padding: 32px;
     justify-content: center;
     align-items: center;
 }
 
 .imagen-socio img{
     width: 100%;
     height: 100%;
 }
 
 .texto-socio p{
     margin-bottom: 48px;
 }
 
 .boton-socio{
     background-color: var(--naranja);
     width: 160px;
     height: 40px;
     padding: 8px;
     border-style: none;
     border-radius: 15px;
 }
 
 .boton-socio a{
    font-size: 20px;
    text-decoration: none;
    color: var(--negro-azul);
 }
/*Mapa-Formulario-Video informativo*/
/*Contenedor de la sección*/
 .map-form-video {
    background-color: var(--naranja);
    color: var(--blanco);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
 }

 .mapa {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-left: 20px;
    margin-top: 53px;
 }

 .formulario {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }
 
 .video {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-right: 25px;
    margin-top: 53px;
    margin-bottom: 30px;
 }
/*Sección del pie de página*/
/*Contenedor*/
 .pie-pag {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: start
 }

 footer {
    background-color: var(--negro-azul);
    color: var(--blanco);
 }

 .pie-pag {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-flow: row;
}

footer img {
    width: 220px;
    margin-top: 30px;
}

.logo-footer {
    font-family: cursive;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer a {
    text-decoration: none;
    color: var(--blanco);
}
/*Sobre la empresa*/
 .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
 }

 .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
 }

 .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }

 .copyright {
    margin-left: 10px;
 }
    