/* Seteo de página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* Paleta de colores */
:root {
    --header: #59A5D8;
    --letter: #F4FFFD;
    --footer: #00171F;
    --main: #DBD3D8;
    --articulo-1: #F9A03F;
    --articulo-2: #8884FF;
    --articulo-3: #000022;
}
/*Color del fondo de la página*/
body {
    background-color: var(--main);
}
/*Seteo del section del header*/
.position {
    background-color: var(--header);
    position: sticky;
    top: 0;
}
/* Seteo de la barra de navegación */
.barra-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Seteo del logo de la empresa */
header img {
    width: 220px;
    margin-top: 20px;
    margin-left: 20%;
}
/*Seteo de los ancle*/
header a {
    color: var(--letter);
    text-decoration: none;
}
/*Seteo del representativo de la empresa*/
.representativo {
    font-family: cursive;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
}
/*Seteo de los navegadores de la página*/
.navegadores {
    font-size: 25px;
    display: flex;
    margin-right: 10%;
    gap: 80px;
}
/*Seteo del main*/
main {
    margin-top: 50px;
}
/*Imagen de la frase*/

/*Seteo de la frase*/
.frase {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 960px;
    background-color: #000022;
}
/*Seteo del párrafo*/
/* #parrafo-frase {
    background-color: rgba( 0, 0, 0, 0.4);
    color: var(--letter);
    font-size: large;
    display: flex;   
} */
/*Contenedor del articulo 1*/
/* .contenedor-arti {
    margin: 0 auto;
    max-width: 66%;
    border: 2px solid black;
    height: 50vh;
    margin-top: 10%;
} */
/*Seteo de la imagen 1*/
/* .img-arti {
   display: flex;
   justify-content: start;
   width: 33%;
} */






















/* flex-direction: column;
    align-items: center;
    margin-block-start: -40px;
    width: 100%; */
/* :hover {
    background-color: aliceblue;
} */
    